<HTML>
 <head>
    <link rel="stylesheet" type= "text/css"  href="{{ url_for('static', filename='css/main.css') }}">
  </head>
<BODY class="sentAn">
    <center>
    <h1>SentAn</h1>
    <h3>A sentiment analyzer API</h3>
    <form method="POST" action="">
        <input type = "text" name = "phrase" placeholder="Enter your phrase!" /> <br>
        <input type="hidden" name="form_type" value="get_sentiment"/><br>
         <input type = "submit" value="Analyze">
    </form>
    </center>

</BODY>
</HTML>
